<?php

$v->layout('main', ['title' => 'Libros'])

?>

<div class="row mx-auto">
    <?php
    foreach ($libros as $libro) {
        echo '<div class="col-3">';
        echo '<a href="libros/' . $libro['id'] . '" class="custom-card">';
        echo '<div class="card" style="width: 100%;">';
        echo '<img class="card-img-top" src="./imgs/libros/' .
            $libro['id'] . '.jpg">';
        echo '<div class="card-body">';
        echo '<h5 class="card-title text-center font-weight-bold">' .
            $libro['titulo'] . '</h5>';
        echo '</div></div></a></div>';
    }
    ?>
</div>