<?php
$v->layout('main', ['title' => 'Actores - Ficha']);

?>

<b>Nombre: </b><?php echo $actor["nombre"]; ?><br />
<b>Año: </b><?php echo $actor["anyo"]; ?><br />
<b>País: </b><?php echo $actor["pais"]; ?><br />