<?php
$v->layout('main', ['title' => 'Directores - Ficha']);

?>

<b>Nombre: </b><?php echo $director['nombre']; ?><br />
<b>Año: </b><?php echo $director['anyo']; ?><br />
<b>País: </b><?php echo $director['pais']; ?><br />