<?php
$v->layout('main', ['title' => 'Peliculas - Ficha']);

?>
<div class="container">

<b>Título: </b> <?php echo $pelicula['titulo'] ?> <br />
<b>Año: </b><?php echo $pelicula['anyo'] ?><br />
<b>Duración: </b><?php echo $pelicula['duracion'] ?><br />
<b>Director: </b>

<?php foreach ($directores as $director) : ?>
            <a href= <?php echo "../directores/" . $director['id']; ?>>
                <li><?php echo $director['nombre']; ?></li>
            </a>
        <?php endforeach; ?>
<b>Actores: </b>

<?php foreach ($actores as $actor) : ?>
            <a href= <?php echo "../actores/" . $actor["id"]; ?>>
                <li><?php echo $actor['nombre']; ?></li>
            </a>
        <?php endforeach; ?>

</div>