<?php

$v->layout('main', ['title' => 'Peliculas'])
?>

<div class="row mx-auto">
    <?php foreach ($peliculas as $pelicula) : ?>
        <div class="col-3">
            <a href= <?php echo "peliculas/" . $pelicula['id'] ?> class="custom-card">
                <div class="card" style="width: 100%;">
                    <img class="card-img-top" src= <?php echo "./imgs/peliculas/" . $pelicula['id'] . ".jpg" ?>>
                    <div class="card-body">
                        <h5 class="card-title text-center font-weight-bold">
                            <?php echo $pelicula['titulo'] ?>
                        </h5>
                    </div>
                </div>
            </a>
        </div>
    <?php endforeach; ?>
</div>
